{% if section.settings.show_newsletter %}
  <div class="blog_newsletter page-width page-width--narrow rte">
    <div class="blog_page_newsleter">
        {%- if section.settings.heading != blank or section.settings.subheading != blank or section.settings.content != blank -%}
            <div class="newsletter-content">
              {%- if section.settings.heading != blank %}
                <h2>{{ section.settings.heading }}</h2>
              {% endif %}
              {%- if section.settings.subheading != blank %}
                <h3>{{ section.settings.subheading }}</h3>
              {% endif %}
              {%- if section.settings.content != blank %}
                <div class="news_content">
                {{ section.settings.content }}
                </div>  
              {% endif %} 
            </div>
        {%- endif -%}
       <!-- <div class="klaviyo-form-RFmDME"></div> -->
        <form class="newsletter-custom-footer" id="newsletterblog">
            <div class="row">
              <div class="col-md-12 col-sm-12">	
                <div class="form-group">
                    <input type="text" name="uname" id="uname" class="form-control" placeholder="First Name">
                </div>
              </div>
              <div class="col-md-12 col-sm-12">	
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-4 col-sm-5">
                <div class="form-group">
                   <select id="country_code" name="country_code" class="form-control">
                     <option value="61" selected>+61</option>
                     <option value="91">+91</option>
                     <option value="61">+61</option>
                     <option value="91">+91</option>
                   </select>
                </div>	
              </div>
              <div class="col-md-8 col-sm-7">
                <div class="form-group">
                   <input type="text" name="mobile_number" id="mobile_number" class="form-control" placeholder="Mobile number(Optional)">
                </div>	
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="receiveemailupdate">
                  <label class="form-check-label" for="receiveemailupdate"> I agree to receive email updates</label>
                </div>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="receivetextupdate">
                  <label class="form-check-label" for="receivetextupdate"> Send me messages to the number provided</label>
                </div>
              </div>
              <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-submit" value="Subscribe">
                </div>
              </div>
            </div>
        </form>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
		{
          "type": "checkbox",
          "id": "show_newsletter",
          "default": false,
          "label": "Enabel Newsletter"
        },
		{
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
		{
          "type": "text",
          "id": "subheading",
          "label": "Sub Heading"
        },
		{
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
