<div class="page-width">{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}</div>
{% schema %}
  {
    "name": "Product Review",
    "class": "product-detail-page-review-section"
  }
{% endschema %}